.container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
}

.container1,
.container2 {
    flex: 0 0 50%;
    height: 720px;
    background-color: lightblue;
}

.container2 {
    background-color: lightcoral !important;
    transform: rotate(180deg);
}

.container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
