/* TABLE MAP */

.table_map_container {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem 4rem;
}

.table {
  width: 200px;
  height: 120px;
  background-color: white;
  border-radius: 1rem;
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 2px solid #06300a;
}

.place {
  width: 97px;
  height: 58px;
  background-color: white;
  color: black;
  z-index: 5;

  border-radius: 1rem; /* change border radius to every element */
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.place:hover {
  color: #ffbc08;
  border: 1px solid #ffbc08;
}
