.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: var(--main-padding);

    /* background-color: #fff; */
    border-radius: inherit;
}

.heading {
    font-size: var(--heading-font-size);
    text-align: center;
}

.heading_mini {
    font-size: var(--heading-font-size);
    text-align: center;
}

/* MENU CATEGORY */

.menu_category_cont {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
}

.menu_category {
    background-color: transparent;
    height: 450px;
    width: 100%;

    padding: 1rem 0.5rem;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 0.5rem;
    scroll-behavior: smooth;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.menu_category::-webkit-scrollbar {
    display: none;
}

.mc_item {
    position: relative;

    flex: 0 0 350px;
    height: 100%;

    border-radius: 1rem;

    scroll-snap-align: start;
}

.mc_item_cover {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    aspect-ratio: 1;
    object-fit: cover;
    /* object-position: center; */
}

.mc_item_overflow {
    background-color: rgba(0, 0, 0, 0.2);

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1.5rem;
    border-radius: inherit;
}

.mc_item_title {
    color: #fff;
    font-size: 3.5rem;
}

.active {
    outline: 0.5rem solid #ffbc08;
    outline-offset: -0.25rem;
}

/* MINI MENU */

.menu_category_mini {
    background-color: transparent;
    height: 51px;
    width: 100%;

    padding: 0.25rem 0.25rem;

    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.mc_item_mini {
    position: relative;
    width: 160px;
    /* flex: 0 0 100px; */
    height: 100%;

    /* padding: var(--main-padding); */
    border-radius: 0.5rem;

    scroll-snap-align: start;
}

.mc_item_overflow_mini {
    background-color: rgba(0, 0, 0, 0.1);

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* padding: 1.5rem; */
    border-radius: inherit;
    background-color: #00470d;
}

.mc_item_title_mini {
    color: #fff;
    font-size: 1.5rem;
}

.active_mini {
    outline: 0.5rem solid #ffbc08;
    outline-offset: -0.25rem;
}

/* SUBMENU */

.submenu_cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* background-color: white; */
    background-color: transparent;
}

.submenu_btns {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.submenu_btn {
    border: 2px solid #ffbc08;
    color: 000;
    background-color: #fff9;
    padding: 0.25rem 1rem;
    border-radius: 0.75rem;
    font-weight: 700;
}

.submenu_btn_active {
    color: white;
    background-color: #ffbc08;
}

.submenu {
    /* background-color: #ccc; */
    height: 400px;
    width: 100%;

    /* padding: 1rem 0.5rem; */

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 0.5rem;
    scroll-behavior: smooth;

    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: 200px 200px;
    grid-auto-flow: column;
    /* gap: 1px; */

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sb_item {
    /* flex: 0 0 225px; */
    width: 200px;
    height: 200px;

    padding: 0.5rem;

    background-color: transparent;

    display: flex;
    flex-direction: column;

    scroll-snap-align: start;
}

.sb_item_border_right {
    border-right: 1px solid #ccc;
}

.sb_item_border_bottom {
    border-bottom: 1px solid #ccc;
}

.sb_item_title {
    color: #000;
    height: 50px;

    display: flex;
    flex-direction: column;
    /* gap: 0.25rem; */
}

.sb_item_title_p1 {
    font-weight: 600;
}

.sb_item_title_p2 {
    font-weight: 300;
    font-size: 1rem;
}

.sb_item_cover {
    width: 100%;
    height: 100px;

    object-position: center;
    object-fit: cover;
}

.sb_item_nav {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    /* padding: 0 1rem; */
}

.sb_item_count {
    /* width: 50%; */
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.sb_item_btn_increase,
.sb_item_btn_decrease {
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: #ffbc08;
    border-radius: 50%;
    border: none;
}

.sb_item_counter {
    color: #000;
    font-size: 1.125rem;
}

.sb_item_btn_showup {
    color: #000;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 1.125rem;
}

/* PRODUCT PREVIEW */

.product_preview_cont {
    width: 100%;
    height: 100%;

    /* background-color: #ccc; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.product_preview {
    width: 100%;
    height: 100%;
    /* background-color: gray; */

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.pp_heading_cont {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pp_heading {
    display: flex;
    flex-direction: column;
}

.pp_heading_price {
    color: #898989;
}

.pp_heading_title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.pp_heading_back {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    width: 2.5rem;
}

.pp_content {
    width: 100%;
    /* height: 100%; */
    height: 374px;

    /* background-color: lightblue; */
    /* height: 350px; */

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
}

/* LEFT SIDE */

.pp_info {
    width: 100%;
    height: 100%;

    /* background-color: lightcyan; */

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 1rem 0;
}

.pp_info_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* SIZE SELECTION */

.pp_info_size_cont {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pp_info_size {
    width: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    padding: 0.25rem;
}

.pp_info_size_btn_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pp_info_size_btn {
    text-transform: uppercase;
    font-size: 1rem;

    background-color: #fff;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.pp_inactive {
    color: #898989;
    font-weight: 400;
    border: 1px solid #ccc;
}

.pp_active {
    font-weight: 600;
    border: 2px solid #ffbc08;
    color: #000;
}

.pp_info_size_price {
    color: #898989;
}

/* CUSTOMIZE BUTTON */

.pp_customize {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.pp_customize_btn {
    width: 250px;
    height: 40px;
    background-color: #fff;
    color: #000;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
}

.pp_count_cont {
    display: flex;
    justify-content: center;
}

.pp_count {
    width: 250px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 3rem; */

    padding: 0.25rem 0.75rem;

    border: 2px solid #ccc;
    border-radius: 1.5rem;

    font-size: 1.125rem;
}

.pp_count_btn {
    border: none;
    background-color: transparent;
    height: 100%;
    width: 2rem;
    font-size: 1.125rem;
}

/* .pp_count_increase,
.pp_count_decrease {
    font-size: 1.25rem;
    font-weight: 300;
} */

/* RIGHT SIDE */

.pp_image_cont {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 0;
}

.pp_image_bkg {
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 1rem;
}

.pp_image {
    /* height: 100%; */
    height: 342px;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.pp_image_btn_cont {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.pp_image_btn_back,
.pp_image_btn_sub {
    width: calc(50% - 0.5rem);
    height: 3rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.pp_image_btn_back {
    border: 2px solid #ccc;
    background-color: #fff;
}

.pp_image_btn_sub {
    border: none;
    background-color: #ffbc08;
}
