.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  /* padding: 0.5rem 2rem; */
}

.heading {
  font-size: var(--heading-font-size);
  text-align: center;
}

.scroll_container {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  /* height: 250px; */
  z-index: 2;
}
.scroll_container2 {
  position: relative;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* height: 250px; */
  z-index: 2;
  gap: 0.5rem;
}

.scroll_container > h2 {
  font-size: 1.5rem;
}
.icons {
  position: absolute;
  scale: 4;
  color: black;
  z-index: 10;
  transform: translateY(50%);
  cursor: pointer;
}

.icon_left {
  left: 0;
}

.icon_right {
  right: 0;
}

.scroll_wrapper {
  background-color: transparent;
  width: 100%;

  padding: 0.5rem 0.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-padding: 0.5rem;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
  scrollbar-width: none;
}

.scroll_img {
  width: 220px;
  border: 1px solid transparent;
  border-radius: 2rem;

  cursor: pointer;
}
.scroll_img2 {
  width: 300px;
  border: 1px solid transparent;
  border-radius: 2rem;

  cursor: pointer;
}
