.container {
  width: 100%;
  height: 100svh;

  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;

  /* padding: 2rem; */
}

.container > div {
  width: 100%;
  height: calc(100% - 100px) !important;
}

.container > div div {
  width: 100%;
  height: 100% !important;
}

.img {
  object-fit: contain;

  width: 100%;
  height: 100%;
}

.scan {
  width: 100%;
  height: 100px;

  background-color: var(--main-green);

  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  text-align: center;
  color: var(--main-yellow);
  font-size: 2.75rem;
}
