.home {
    --main-gap: 2rem;
    --main-padding: 2rem;

    width: 3840px;
    height: 720px;

    background-color: #ffbc08;
    background-image: url("./assets/bkg.jpg");
    background-repeat: repeat;
    background-size: 150px 221px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    padding: var(--main-padding);
    gap: var(--main-gap);

    animation: moveBackground 10s linear infinite;
}

.quarter {
    background-color: white;
    flex: 0 0 calc((100% - 3 * var(--main-gap)) / 4); /* 920px */
    height: 100%; /* 656px */

    border-radius: 1.5rem;
}

.half {
    background-color: white;
    flex: 0 0 calc((100% - var(--main-gap)) / 2); /* 1872px */
    height: 100%; /* 656px */

    border-radius: 1.5rem;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -150px -221px;
    }
}
